@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

#brandtitle {
  font-family: "Staatliches", cursive;
  font-size: 75px;
}

#findus {
  font-family: "Staatliches", cursive;
  font-size: 20px;
}
